$primary: #ffc451;
$navbar-dark-color: white;
$navbar-dark-hover-color: #ffc451;
$navbar-dark-active-color: #ffc451;

$body-color: #444444;
$headings-font-family: "Raleway", sans-serif;
// $headings-color: #0f394c;
$font-family-base: "Open Sans", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,500;0,600;1,300;1,400;1,500;1,700&display=swap");
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@import "../node_modules/bootstrap/scss/bootstrap.scss";
